<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>nz.net.thoms.hash.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/hash/greet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>hashServlet</servlet-name>
    <servlet-class>nz.net.thoms.hash.server.HashServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>hashServlet</servlet-name>
    <url-pattern>/hashmap</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>viewServlet</servlet-name>
    <servlet-class>nz.net.thoms.hash.server.ViewHashesServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>viewServlet</servlet-name>
    <url-pattern>/hashview</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Hash.html</welcome-file>
  </welcome-file-list>

	<servlet>
	  <servlet-name>mapreduce</servlet-name>
	  <servlet-class>com.google.appengine.tools.mapreduce.MapReduceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>mapreduce</servlet-name>
	  <url-pattern>/mapreduce/*</url-pattern>
	</servlet-mapping>

</web-app>
